<footer>
  <div class="footer-listing">
    <div class="footer-wrap">
      <div class="footer-listing-links">
        <h4>Categories</h4>
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
        </ul>
      </div>
      <div class="footer-listing-links">
        <h4>Occassion</h4>
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
        </ul>
      </div>
      <div class="footer-listing-links">
        <h4>Popular</h4>
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
        </ul>
      </div>
      <div class="footer-listing-links">
        <h4>In Demand</h4>
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 1</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main-footer-links">
    <div class="footer-wrap">
      <div class="footer-logo"><img src="assets/images/bukkzy-logo-white.png" width="197" height="196" alt="" /></div>
      <div class="footer-links">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
        <ul>
          <li>Customer care</li>
          <li>+44 5248 5824</li>
          <li><a href="#">Returns and Shipping</a></li>
          <li><a href="#">Faqs</a></li>
          <li><a href="#">Bukkzy Experts</a></li>
        </ul>
        <ul>
          <li><a href="#">Policies</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">For an expert</a></li>
          <li><a href="#">For buyers</a></li>
          <li><a href="#">Copyright policy</a></li>
        </ul>
      </div>
      <div class="fotter-social">
        <h5>Social Connect</h5>
        <ul>
          <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">Bukkzy.com All rights reserved. Copyright 2019</div>
</footer>