.val-error{
    color: red;
}

input[type="submit"] {
    padding: 18px 40px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #b2384f;
    border: none;
    border-radius: 2px;
    vertical-align: top;
    display: inline-block;
}
input[type="button"].paypal-btn {
    background: #ffcc00;
}

.main-form .input-file input[type="file"] {
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    bottom: 0;
}