<div class="wrap">
    <div class="pay-now">
        <h2>Pay Now</h2>

        <div class="package-details clearfix">
            <h3><a href="#">Bespoke Yoga Training</a></h3>
            <div class="package-loc"><i class="fas fa-map-marker-alt"></i> Paris, France</div>
            <div class="package-price">
                <span class="amt-saved">You Save $ 20.00</span>
                <span class="original-price">$ 60.00</span>
                <span class="actual-price">$ 45.00</span>
            </div>
        </div>

        <ul class="main-form">
            <li>
                <label>Name on Card</label>
                <input type="text">
            </li>
            <li>
                <label>Card Number</label>
                <input type="text">
            </li>
            <li class="expiry-date">
                <label>Expiry Date (DD/MM/YY)</label>
                <select>
                  <option>Select</option>
              </select>
                <select>
                  <option>Select</option>
              </select>
                <select>
                  <option>Select</option>
              </select>
            </li>
            <li class="cvvcvd">
                <label>CVV/CVD</label>
                <input type="text">
            </li>
        </ul>
        <div class="form-act"><input type="button" value="PAY NOW"> <span class="or-sep">OR</span> <input type="button" value="PAY WITH PAYPAL" class="paypal-btn"></div>
    </div>
</div>
