<div class="wrap">
    <div class="package-list inside-sec">
        <h2><span>EDIT YOUR PROFILE</span></h2>
        <div class="edit-profile-steps">
        <ul>
            <li class="step step-active"><span class="edit-step">1</span>Personal Details</li>
            <li class="step"><span class="edit-step">2</span>List an Experience</li>
            <li class="step"><span class="edit-step">3</span>Payment Details</li>
        </ul>
        </div>
        <ul class="main-form create-experience">
            <li class="clearfix buyer-name">
                <div>
                <label>First Name</label>
                <input type="text">
                </div>
                <div>
                <label>Last Name</label>
                <input type="text">
                </div>
            </li>
            <li class="clearfix buyer-name">
                <div>
                <label>You are Good at</label>
                <input type="text">
                </div>
                <div>
                <label>Country</label>
                <select>
                  <option>Select</option>
              </select>
                </div>
            </li>
            <li class="cover-img">
            <label>Cover Image</label>
              <span class="input-file"><input type="file">Browse File</span>
              <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
            </li>
            <li class="cover-img">
            <label>Profile Image</label>
              <span class="input-file"><input type="file">Browse File</span>
              <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
            </li>
            <li class="clearfix">
                <div class="mobile-no">
                <label>Mobile</label>
                <input type="number" placeholder="Country Code"><input type="number" placeholder="Number">
                </div>
                <div>
                <label>Native Language</label>
                <select>
                  <option>Select</option>
              </select></div>
            </li>
            <li class="exp-country">
                <label>About Yourself</label>
                <textarea></textarea>
            </li>
          <li class="cover-img">
            <label>Experiences I offer (Max 5)</label>
              <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
                                <span class="upload-preview add-cat">
              <i class="fas fa-plus-circle"></i>
                  Yoga
              </span>
            </li>
            <li class="cover-img">
            <label>My Photos</label>
              <span class="input-file"><input type="file">Browse File</span>
              <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
                <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
                <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
                <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
                <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
            </li>
            <li>
                <label>My Videos</label>
                <span class="input-file"><input type="file">Browse File</span>
              <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
                <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
                <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
                <span class="upload-preview">
              <i class="fas fa-times-circle"></i>
              </span>
            </li>
        </ul>

        <div class="form-act"><input type="button" value="SKIP FOR NOW" class="add-btn" (click)="goto()"> <input type="button" value="CONTINUE" (click)="goto()"></div>
    </div>
</div>
