<div class="wrap">
		<div class="package-list inside-sec">
			<h2><span>EDIT YOUR PROFILE</span></h2>
			<div class="edit-profile-steps">
			<ul>
				<li class="step"><span class="edit-step">1</span>Personal Details</li>
				<li class="step"><span class="edit-step">2</span>List an Experience</li>
				<li class="step step-active"><span class="edit-step">3</span>Payment Details</li>
			</ul>
			</div>
						<ul class="main-form create-experience">
				<li>
					<label>Bank Account Number</label>
					<input type="text">
				</li>
				<li class="exp-country">
					<label>Country</label>
					<select>
				  	<option>Select</option>
				  </select>
				</li>
				<li>
					<label>IBAN</label>
					<input type="text">
				</li>
				<li>
					<label>IFSC (If Applicable)</label>
					<input type="text">
				</li>
				<li>
					<label>Bank Account Holder Name</label>
					<input type="text">
				</li>
				<li>
					<label>Account Type</label>
					<select>
				  	<option>Select</option>
				  </select>
				</li>
				<li class="sign-up-or">OR</li>
				<li class="add-paypal">
					<label>Add Paypal Account</label>
					<input type="text"><input type="button" value="ADD" class="add-btn">
				</li>			
			</ul>


			<div class="form-act"><input type="button" value="GO BACK" class="add-btn" (click)="gotoback()"> <input type="button" value="I M DONE" (click)="goto()"></div>
		</div>
	</div>
	