<div class="wrap">
    <div class="package-list inside-sec">
        <h2><span>EDIT YOUR PROFILE</span></h2>
        <div class="edit-profile-steps">
            <ul>
                <li class="step step-active"><span class="edit-step">1</span>Personal Details</li>
                <li class="step"><span class="edit-step">2</span>List an Experience</li>
                <li class="step"><span class="edit-step">3</span>Payment Details</li>
            </ul>
        </div>
        <form class="form-inline" novalidate (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

            <ul class="main-form create-experience">
                <li class="clearfix buyer-name">
                    <div>
                        <label>First Name</label>
                        <input type="text" placeholder="Fisrt name" #first_name="ngModel" name="first_name" [(ngModel)]="Model.first_name"
                            required>
                        <div *ngIf="first_name.touched || f.submitted && !Model.first_name">
                            <div *ngIf="first_name.hasError('required')" class="val-error">** first name is required</div>
                        </div>
                    </div>
                    <div>
                        <label>Last Name</label>
                        <input type="text" placeholder="Last name" #last_name="ngModel" name="last_name" [(ngModel)]="Model.last_name"
                            required>
                        <div *ngIf="last_name.touched || f.submitted && !Model.last_name">
                            <div *ngIf="last_name.hasError('required')" class="val-error">** last name is required</div>
                        </div>
                    </div>
                </li>
                <li class="clearfix buyer-name">
                    <div>
                        <label>You are Good at</label>
                        <input type="text" placeholder="Good at" #Good_at="ngModel" name="Good_at" [(ngModel)]="Model.Good_at"
                            required maxlength="50">
                        <div *ngIf="Good_at.touched || f.submitted && !Model.Good_at">
                            <div *ngIf="Good_at.hasError('required')" class="val-error">** Good at name is required</div>
                        </div>
                    </div>
                    <div>
                        <label>Country</label>
                        <select #country="ngModel" name="country" [(ngModel)]="Model.country" required>
                            <option>Select</option>
                            <option *ngFor="let p of places" [value]="p">{{p}}</option>
                        </select>
                        <div *ngIf="country.touched || f.submitted && !Model.country">
                            <div *ngIf="country.hasError('required')" class="val-error">** country is required</div>
                        </div>
                    </div>
                </li>
                <li class="cover-img">
                    <label>Cover Image</label>
                    <span class="input-file">
                        <input type="file" placeholder="Cover image" type="file" #coverimage (change)="onCoverFileChange($event)"
                            name="coverimage" required />Browse
                        File
                    </span>
                    <p *ngIf="!coverimagefileIsValid" class="val-error">{{msgCoverImageError}}</p>
                    <!-- <span class="upload-preview"> -->
                    <!-- <i class="fas fa-times-circle"></i> -->
                    <span class="upload-preview" *ngFor="let url of CoverUrls">
                        <i class="fas fa-times-circle"></i>
                        <img [src]="url" class="rounded mb-3" width="90" height="90">
                    </span>
                    <span class="upload-preview" *ngIf="Model.profile_image && !CoverUrls">
                        <i class="fas fa-times-circle"></i>
                        <img [src]="Model.cover_image" class="rounded mb-3" width="90" height="90">
                    </span>
                    <!-- </span> -->
                </li>
                <li class="cover-img">
                    <label>Profile Image</label>

                    <span class="input-file">
                        <input type="file" type="file" placeholder="Profile image" #profileimage (change)="onProfileFileChange($event)"
                            name="profileimage" required />Browse
                        File
                    </span>
                    <p *ngIf="!profileimagefileIsValid" class="val-error">{{msgProfileImageError}}</p>
                    <!-- <span class="upload-preview">
                        <i class="fas fa-times-circle"></i>
                    </span> -->
                    <span class="upload-preview" *ngFor="let url of ProfileUrls">
                        <i class="fas fa-times-circle"></i>
                        <img [src]="url" class="rounded mb-3" width="90" height="90">
                    </span>
                    <span class="upload-preview" *ngIf="Model.profile_image && !ProfileUrls">
                        <i class="fas fa-times-circle"></i>
                        <img [src]="Model.profile_image" class="rounded mb-3" width="90" height="90">
                    </span>
                </li>

                <li class="clearfix">
                    <div class="mobile-no">
                        <label>Mobile</label>

                        <input type="number" class="only-numeric" placeholder="Country Code" #mobile_code="ngModel" name="mobile_code"
                            [(ngModel)]="Model.mobile_code" required>

                        <input type="number" class="only-numeric" placeholder="Mobile number" #mobile_no="ngModel" name="mobile_no"
                            [(ngModel)]="Model.mobile_no" required>
                        <div *ngIf="mobile_no.touched || f.submitted && !Model.mobile_no">
                            <div *ngIf="mobile_no.hasError('required')" class="val-error">** Mobile no is required</div>
                            <!-- <div *ngIf="mobile_no.errors && mobile_no.errors.pattern" class="val-error">
                                ** Mobile no is invalid.
                            </div> -->
                        </div>
                        <div *ngIf="mobile_code.touched || f.submitted && !Model.mobile_code">
                            <div *ngIf="mobile_code.hasError('required')" class="val-error">**code</div>
                            <!-- <div *ngIf="mobile_code.errors && mobile_code.errors.pattern" class="val-error">
                                    ** code no is invalid.
                                </div> -->
                        </div>


                    </div>
                    <div>
                        <label>Native Language</label>
                        <select #native_language="ngModel" name="native_language" [(ngModel)]="Model.native_language"
                            required>
                            <option>Select</option>
                            <option *ngFor="let l of native_languages" [value]="l">{{l}}</option>
                        </select>
                        <div *ngIf="native_language.touched  || f.submitted && !Model.native_language">
                            <div *ngIf="native_language.hasError('required')" class="val-error">** native language is
                                required</div>
                        </div>
                    </div>
                </li>
                <li class="exp-country">
                    <label>About Yourself</label>
                    <textarea #about="ngModel" placeholder="About yourself" name="about" [(ngModel)]="Model.about"
                        required></textarea>
                    <div *ngIf="about.touched || f.submitted && !Model.about">
                        <div *ngIf="about.hasError('required')" class="val-error">** about is required</div>
                    </div>
                </li>
                <li class="cover-img">
                    <label>Experiences I offer (Max 5)</label>

                    <span class="upload-preview add-cat" *ngFor="let exp of data$ | async">
                        <ng-template *ngIf="exp.RecordId == Model.id; else plusexp">
                            <i class="fas fa-times-circle" (click)="RemoveUserExperience(exp.id)"></i>
                        </ng-template>
                        <ng-template #plusexp>
                            <i class="fas fa-plus-circle" (click)="AddUserExperience(exp.id)"></i>
                        </ng-template>
                        <img [src]="exp.image" class="rounded mb-3" width="90" height="90">
                    </span>

                </li>
                <li class="cover-img">
                    <label>My Photos</label>

                    <span class="input-file">
                        <input type="file" placeholder="My photos" type="file" #myphotosimage (change)="onmyphotosimageChange($event)"
                            name="myphotosimage" multiple required />Browse File
                    </span>
                    <p *ngIf="!myphotosimageIsValid" class="val-error">{{myphotosimageImageError}}</p>
                    <span class="upload-preview" *ngFor="let url of myphotosimageUrls">
                        <i class="fas fa-times-circle"></i>
                        <img [src]="url" class="rounded mb-3" width="90" height="90">
                    </span>
                    <span class="upload-preview" *ngFor="let v of UserPhotosDocuemnts">
                        <i class="fas fa-times-circle"></i>
                        <img [src]="v.doc_path" class="rounded mb-3" width="90" height="90">
                    </span>

                </li>
                <li>
                    <label>My Videos</label>
                    <span class="input-file">
                        <input type="file" placeholder="My videos" type="file" #videos (change)="onVideoFileChange($event)"
                            name="videos" required />Browse File
                    </span>
                    <p *ngIf="!vidoeimagefileIsValid" class="val-error">{{msgVideoError}}</p>
                    <span class="upload-preview" *ngFor="let vurl of videoUrls">
                        <i class="fas fa-times-circle"></i>
                        <video width="90px" height="90px" controls>
                            <source [src]="vurl" id="video_here">
                        </video>
                    </span>
                    <span class="upload-preview" *ngFor="let v of UserVidoesDocuemnts">
                        <video width="90px" height="90px" controls>
                            <source [src]="v.doc_path" id="video_here">
                        </video>
                    </span>
                </li>
            </ul>

            <div class="form-act">
                <input type="button" value="SKIP FOR NOW" class="add-btn" (click)="goto()"> &nbsp;
                <input type="submit" value="SAVE and CONTINUE" class="add-btn">
            </div>
        </form>
    </div>
</div>