<div class="wrap">
    <div class="clearfix exp-detail">
        <div class="exp-lhs">
            <div class="exp-main-image">
                <img src="{{model['image']}}" width="551" height="371" alt="{{model['title']}}" /></div>
            <div class="the-exp">
                <h4>{{model['title']}}</h4>
                <p>{{model['about']}}</p>
                <p>{{model['explain']}}</p>
            </div>
        </div>
        <div class="exp-rhs">
            <h1>{{model['title']}}</h1>
            <div class="exp-loc"><i class="fas fa-map-marker-alt"></i> {{model['country']}}</div>
            <p>{{model['explain']}}</p>
            <ul class="main-form exp-dtl-form">
                <li class="exp-duration">Duration: 2 Hours</li>
                <li>
                    <label>People</label>
                    <select #people="ngModel" name="people" [(ngModel)]="AddModel.people" required 
                    (change)="onChange($event.target.value)">
                        
                        <option *ngFor="let p of persons" value="{{p}}"
                        [selected]="p == 1">
                            {{p}}</option>
                    </select>
                    <div *ngIf="people.touched">
                        <div *ngIf="people.hasError('required')" class="val-error">** people is required</div>
                    </div>
                </li>
                <li>
                    <label>Preferred Date and Time</label>
                    <input type="text" #preferedDateTime="ngModel" name="preferedDateTime" [(ngModel)]="AddModel.preferedDateTime" required 
                       pattern="^([1-9]|([012][0-9])|(3[01]))-([0]{0,1}[1-9]|1[012])-\d\d\d\d [012]{0,1}[0-9]:[0-6][0-9]$" placeholder="dd-mm-yyyy hh:mm">
                    <div *ngIf="preferedDateTime.touched">
                        <div *ngIf="preferedDateTime.hasError('required')" class="val-error">** Preferred Date and Time is required</div>
                        <div *ngIf="preferedDateTime.errors && preferedDateTime.errors.pattern" class="val-error">
                            ** Preferred Date and Time is invalid
                        </div>
                    </div>
                </li>
                <li class="clearfix exp-cost">
                    <span class="per-person-cost">US $ {{model['price'] - model['sprice']}}.00 <span>per person</span></span>
                    <span class="total-cost"><span>Total</span> US ${{totalprice}}.00</span>
                </li>


                <li><a style="cursor: pointer;" (click)="BuyNow()">
                    <input type="button" value="BUY NOW" class="primery-btn"></a>
                   <div class="val-error" *ngIf="msgError" > {{msgError}}</div>
                </li>
                <li><input type="button" value="ADD TO WISHLIST" class="add-btn"></li>
                <li class="social-share">
                    <strong>Share</strong>
                    <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
                    <span class="social-icon"><i class="fab fa-twitter"></i></span>
                    <span class="social-icon"><i class="fab fa-google-plus-g"></i></span>
                    <span class="social-icon"><i class="fab fa-instagram"></i></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix buyers-profile">
        <h3>The Experience Provider</h3>
        <div class="clearfix">
            <div class="profile-lhs">
                <div class="main-prof-img">
                    <ng-template *ngIf="!userInfo.profile_image; else profilepic">
                        <img *ngIf="!userInfo.profile_image" src="" width="309" height="309" alt="{{userInfo.first_name}}" />
                    </ng-template>
                    <ng-template #profilepic>
                        <img src="assets/images/provider-image.jpg" width="309" height="309" alt="user" />
                    </ng-template>
                </div>
                <h4 class="prof-name">{{userInfo.first_name}} &nbsp; {{userInfo.first_name}}</h4>
                <div class="prof-loc"><i class="fas fa-map-marker-alt"></i> {{userInfo.city}}, {{userInfo.country}}</div>
                <div class="prof-lang">Language: {{userInfo.native_language}}</div>
                <div class="prof-intro"> {{userInfo.Good_at}} (50 words)</div>
                <div class="prof-categories">
                    <h5>Categories I Love</h5>
                    <ul>
                        <li>Yoga</li>
                        <li>Cooking</li>
                        <li>Sports</li>
                        <li>Meditation</li>
                        <li>Cyscling</li>
                        <li>Water Sports</li>
                        <li>Sky Diving</li>
                        <li>Judo</li>
                        <li>Martial Arts</li>
                    </ul>
                </div>
            </div>
            <div class="profile-rhs">
                <h4>Aboout Me</h4>
                <p>{{userInfo.about}}</p>
            </div>
        </div>
    </div>
</div>