<div class="wrap">
    <div class="clearfix exp-detail">
        <div class="exp-lhs">
            <div class="exp-main-image">
                <img src="{{model['image']}}" width="551" height="371" alt="{{model['title']}}" /></div>
            <div class="the-exp">
                <h4>{{model['title']}}</h4>
                <p>{{model['about']}}</p>
                <p>{{model['explain']}}</p>
            </div>
        </div>
        <div class="exp-rhs">
            <h1>{{model['title']}}</h1>
            <div class="exp-loc"><i class="fas fa-map-marker-alt"></i> {{model['country']}}</div>
            <p>{{model['explain']}}</p>
            <ul class="main-form exp-dtl-form">
                <li class="exp-duration">Duration: 2 Hours</li>
                <li>
                    <label>People</label>
                    <select #people="ngModel" name="people" [(ngModel)]="AddModel.people" required (change)="onChange($event.target.value)">
                        <option *ngFor="let p of persons" [value]="p">{{p}}</option>
                    </select>
                    <div *ngIf="people.touched">
                        <div *ngIf="people.hasError('required')" class="val-error">** people is required</div>
                    </div>
                </li>
                <li>
                    <label>Preferred Date and Time</label>
                    <select>
                        <option>Select</option>
                    </select>
                </li>
                <li class="clearfix exp-cost">
                    <span class="per-person-cost">US $ {{model['price'] - model['sprice']}}.00 <span>per person</span></span>
                    <span class="total-cost"><span>Total</span> US ${{totalprice}}.00</span>
                </li>
              

                <li><a style="cursor: pointer;" (click)="BuyNow()"><input type="button" value="BUY NOW" class="primery-btn" ></a></li>
                <li><input type="button" value="ADD TO WISHLIST" class="add-btn"></li>
                <li class="social-share">
                    <strong>Share</strong>
                    <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
                    <span class="social-icon"><i class="fab fa-twitter"></i></span>
                    <span class="social-icon"><i class="fab fa-google-plus-g"></i></span>
                    <span class="social-icon"><i class="fab fa-instagram"></i></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix buyers-profile">
        <h3>The Experience Provider</h3>
        <div class="clearfix">
            <div class="profile-lhs">
                <div class="main-prof-img"><img src="assets/images/provider-image.jpg" width="309" height="309" alt="Stuart Alex" /></div>
                <h4 class="prof-name">Stuart Alex</h4>
                <div class="prof-loc"><i class="fas fa-map-marker-alt"></i> Paris, France</div>
                <div class="prof-lang">Language: English, French</div>
                <div class="prof-intro">Small intro may be just 2 lines or few words (50 words)</div>
                <div class="prof-categories">
                    <h5>Categories I Love</h5>
                    <ul>
                        <li>Yoga</li>
                        <li>Cooking</li>
                        <li>Sports</li>
                        <li>Meditation</li>
                        <li>Cyscling</li>
                        <li>Water Sports</li>
                        <li>Sky Diving</li>
                        <li>Judo</li>
                        <li>Martial Arts</li>
                    </ul>
                </div>
            </div>
            <div class="profile-rhs">
                <h4>Aboout Me</h4>
                <p>Hi it is about the person who is buying the experience Hi it is about the person who is buying the
                    experience Hi it is about the person who is buying the experience Hi it is about the person who is
                    buying the experience Hi it is about the person who is buying the experience Hi it is about the
                    person who is buying the experience Hi it is about the person who is buying the experience Hi it is
                    about the person who is buying the experience Hi it is about the person who is buying the
                    experience Hi it is about the person who is buying the experience Hi it is about the person who is
                    buying the experience Hi it is about the person who is buying the experience Hi it is about the
                    person who is buying the experience Hi it is about the person who is buying the experience Hi it is
                    about the person who is buying the experience Hi it is about the person who is buying the
                    experience Hi it is about the person who is buying the experience Hi it is about the person who is
                    buying the experience Hi it is about the person who is buying the experience Hi it is about the
                    person who is buying the experience</p>

                <p>Hi it is about the person who is buying the experience Hi it is about the person who is buying the
                    experience Hi it is about the person who is buying the experience Hi it is about the person who is
                    buying the experience </p>

                <p>Hi it is about the person who is buying the experience Hi it is about the person who is buying the
                    experience Hi it is about the person who is buying the experience Hi it is about the person who is
                    buying the experience</p>
            </div>
        </div>
    </div>
</div>