<div class="top-header">
        <div class="header-content">
            <h1>Amazing Experiences Crafted by the Best</h1>
            <div class="header-search">
                <input type="text"><input type="button" value="Search">
            </div>
        </div>
    </div>
    
    <div class="wrap ">
            <div class="package-list">
                    <h2><span>GIVE A GIFT</span></h2>
                    <div class="give-gift clearfix">
                        <div class="give-gift-lhs">
                    <ul class="main-form">
                        <li>
                            <label>Recipient Name</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Recipient Email</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Buyer Name</label>
                            <input type="text">
                        </li>
                      <li>
                        <label>Send Gift to Email</label>
                          <input type="radio" id="recipient"> <label for="recipient">Recipient</label> 
                          <input type="radio" id="buyer"> <label for="buyer">Me</label> 
                        </li>
                        <li>
                            <label>Experience’ Link</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Message</label>
                            <textarea></textarea>
                        </li>
                    </ul>
                    <h4>BILLING DETAILS</h4>
                    <ul class="main-form">
                        <li>
                            <label>Name on Card</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Card Number</label>
                            <input type="text">
                        </li>
                        <li class="expiry-date">
                            <label>Expiry Date (DD/MM/YY)</label>
                            <select>
                              <option>Select</option>
                          </select>
                            <select>
                              <option>Select</option>
                          </select>
                            <select>
                              <option>Select</option>
                          </select>
                        </li>
                        <li class="cvvcvd">
                            <label>CVV/CVD</label>
                            <input type="text">
                        </li>
                    </ul>
                    <div class="form-act"><input type="button" value="PURCHASE NOW"></div>
                            </div>
                        <div class="give-gift-rhs">
                        <h4>HOW DOES THIS WORK?</h4>
        
        <p>You or the giftcard 
        recipient receives an email with a gift card code. </p>
        
        <p>When making reservation on Bukkzy, the code can be applied towards the reservation total.</p>
                        </div>
                        </div>
                </div>
            
    </div>