<div class="wrap">

    
   
  <div class="package-list inside-sec">
      <form #loginForm="ngForm" *ngIf="!user">
     
    <h2><span>Log in</span></h2>
    <ul class="main-form sign-up-width">
      <li class="sign-up-opt clearfix">
        <a (click)="loginWithFacebook()" class="facebook-signup">LOG IN WITH FACEBOOK</a>
        <a (click)="loginWithGmail()" class="gmail-signup">LOG IN WITH GMAIL</a></li>
      <li class="sign-up-or">OR</li>
      <!-- model -   {{loginModel | json}} -->

        <li>
          <label>Login ID</label>
          <input type="text" autofocus #email="ngModel" name="email" [(ngModel)]="loginModel.email" required >
          <div *ngIf="!isFormValid && !email.valid" class="val-error">email
            is required</div>
        </li>
        <li>
          <label>Password</label>
          <input type="password" #password="ngModel" minlength="6" name="password" [(ngModel)]="loginModel.password"
            required>
          <div *ngIf="!isFormValid && !password.valid" class="val-error">password
            is required</div>
        
        </li>

      <!-- <li>
        <label>Login ID</label>
        <input type="text">
      </li>
      <li>
        <label>Password</label>
        <input type="password">
      </li> -->
    </ul>
    <div class="form-act">
      <input type="button" value="SUBMIT" (click)="login()">
      <!-- <button type="button" (click)="login()">SUBMIT</button>  -->
    </div>
  </form>

  <div *ngIf="user" class="card text-center">
      <h6 class="card-header">
        Social Login Demo
      </h6>
      <div class="card-block"></div>
      <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
      <div class="card-block">
        <h4 class="card-title">{{ user.name }}</h4>
        <p class="card-text">{{ user.email }}</p>
      </div>
      <div class="card-block">
        <button class="btn btn-danger" (click)="signOut()">Sign out</button>
      </div>
    </div>
  </div>
</div>