@charset "utf-8";
/* CSS Document */
/* CSS Reset starts*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0;padding:0;}input,select,a img, button{vertical-align:middle;margin:0;padding:0;}
/* CSS Reset ends*/
/* clearfix starts*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/* clearfix ends*/
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	margin: 0;
}
ul{margin: 0; padding: 0; list-style: none;}

.wrap{max-width:1280px; width:99%; margin:auto; position:relative;}
.main-header{position: relative; z-index: 1;}
.inside-header{border-bottom: 1px solid #d9d9d9; margin-bottom: 75px;}
.bukkzy-logo{float:left; margin-top: 12px;}
.top-main-nav{
	float: left;
    font-size: 14px;
    font-weight: 500;
    margin-top: 13px;
    margin-left: 15px;
}
.top-main-nav > ul > li{
	display: inline-block;
	margin-right: 45px;
    position: relative;
	height: 54px;
    float: left;
	cursor: pointer;
}
.top-main-nav > ul > li:last-child{margin-right: 0;}
.top-main-nav > ul > li a{
	color: #000;
	text-decoration: none;
	display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}
.top-main-nav li.gift-experience a{    
	background: #b2384f;
    color: #fff;
    display: inline-block;
    border-radius: 2px;
    padding: 5px 10px;
	margin-top: 14px;
}

.sub-nav{
	position: absolute;
	top:54px;
	left: 0;
	background: #ff6666;
	font-weight: 400;
	min-width: 180px;
	padding: 10px 0;
	display: none;
}
.top-main-nav li:hover .sub-nav{display: block;}
.sub-nav:after {
	bottom: 100%;
    left: 23px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 102, 102, 0);
    border-bottom-color: #ff6666;
    border-width: 10px;
}
.sub-nav.two-column{
	width: 360px;
}
.sub-nav.two-column li{
	width: 50%;
	float: left;
}
.sub-nav ul{list-style: none;}
.top-main-nav > ul > li .sub-nav a{
	color: #fff;
	padding: 5px 15px;
	display: block;
}
.notification{	
	display:block;
    padding: 16px 20px;
    box-sizing: border-box;
	position: relative;
}
.notification img{
	width: 25px;
}
.notification .notification-count{
	height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #b2384f;
    position: absolute;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    top: 12px;
    right: 8px;
}
.user-tab{
	display:block;
    padding: 6px 20px 10px;
    box-sizing: border-box;
	position: relative;
}
.user-small-img{
	height: 36px;
	width: 36px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
}
.user-small-img img{max-width: 36px;}
.sub-nav.user-act {left:auto; right: 0; width: 225px;}
.sub-nav.user-act:after{left:auto; right: 27px;}

.sub-nav.user-act .user-img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}
.sub-nav.user-act .user-img img{width: 70px;}
.sub-nav.user-act ul{float: right;}
.sub-nav.user-act .user-detail{
	padding: 5px 15px;
	color: #fff;
}
.sub-nav.user-act .user-detail span{display: block;}
.sub-nav.user-act .user-detail .user-email{    
	border-bottom: 1px solid #fff;
    padding: 3px 0 8px;
    font-size: 12px;
}

.top-header{
	height: 386px;
    background: url(../images/top-header.jpg) no-repeat center;
    background-size: cover;
	position: relative;
	margin-bottom: 75px;
}
.header-content{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
.header-content h1{
	font-size: 36px;
	color:#fff;
	font-weight: 300;
	margin-bottom: 30px;
}
.header-search input[type="text"]{
    width: 50%;
    padding: 20px;
    font-size: 14px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px 0 0 3px;
    display: inline-block;
}
.header-search input[type="button"] {
    padding: 18px 40px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #b2384f;
    border: none;
    border-radius: 0 3px 3px 0;
    vertical-align: top;
    display: inline-block;
}

.package-list{margin-bottom: 50px;}
.package-list h2{
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	position: relative;
	margin-bottom: 50px;
}
.package-list h2 span{
	display: inline-block;
    position: relative;
    background: #fff;
    padding: 0 10px;
    z-index: 1;
}
.package-list h2::after{
    content: "";
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
    position: absolute;
    top: 14px;
    left: 0;
}
.package-list h2::before{
    content: "";
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
    position: absolute;
    top: 20px;
    left: 0;
}

.package-bx{
	border: 1px solid #cccccc;
	margin: auto;
	margin-bottom: 30px;
    width: 90%;
}
.package-image {
    float: left;
    width: 29%;
	height: 233px;
}
.package-image img{width: 100%;}
.package-details{
	float: left;
    width: 71%;
    padding: 15px 30px;
    box-sizing: border-box;
	position: relative;
}
.package-details h3{
	    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.package-details h3 a{
	color: #333;
	text-decoration: none;
}
.package-loc{margin-bottom: 10px;}
.fa-star.selected{color:#ff9900;}

.package-star{margin-bottom: 10px; font-size: 14px;}
.package-star i{margin-right:2px;}
.package-review{color:#666; display:inline-block; margin-left: 10px; text-decoration:none;}

.package-auth{margin-bottom: 10px; font-size: 14px;}
.auth-img{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
	}
.auth-name{color:#666; text-decoration: none;}
.auth-verified{
	display: inline-block;
	margin-left: 10px;
	font-style: italic;
	font-weight: 500;
	font-size: 12px;
}
.package-last-booked{
	display: inline-block;
    font-size: 14px;
    padding: 8px 12px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    margin-bottom: 20px;
}
.deal-applied{
    background: #d8d8d8;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
}
.deal-applied:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 14px solid #d8d8d8;
    position: absolute;
    right: -14px;
    top: 0px;
}
.package-dtl{
	color: #333; text-decoration: none; font-weight: 500;
}
.people-viewing{float:right; margin-top: 6px;}
.package-price{
	position: absolute;
    top: 20px;
    right: 30px;
	font-size: 14px;
	font-weight: 500;
}
.package-price span{display:block; text-align:right; margin-bottom:5px;}
.package-price span.original-price{text-decoration: line-through;}
.package-price span.actual-price{font-size:30px;}
.wishlist{
	position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
	color: #ccc;
}
.wishlist.added{color:#b2384f;}
.pckg-view-all{ text-align: center; padding: 20px;}
.pckg-view-all a{
	text-decoration: none;
	font-size: 18px;
	font-weight:500;
	text-transform: uppercase;
	padding: 15px 75px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	display: inline-block;
}
.package-list.rhs-list{
	width: 80%;
	float: left;
	margin-bottom: 0;
}
.package-list.rhs-list .package-bx{width:100%;}

.package-list h3.experience-name{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 20px;
}
.search-parameter{    
	border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.search-parameter h5{font-size: 18px; font-weight: 500; display: inline-block; vertical-align: middle;}
.modify-search{
    display: inline-block;
    padding: 5px 10px;
    background: #ccc;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 2px;
	vertical-align: middle;
}
.search-parameter .all-srch{float: right; margin-top: 10px;}
.lhs-filter{width: 20%; float: left; padding-right: 40px; box-sizing: border-box; margin-top: 45px;}
.filter-bx{margin-bottom: 15px; padding-bottom: 15px; border-bottom:1px solid #a3a3a3;}
.filter-bx h4{font-size: 16px; font-weight: 500; margin-bottom: 15px;}
.filter-bx .res-count{float: right;}
.filter-bx li{font-size: 14px; margin-bottom: 10px;}

.gift-experiance{
	width: 921px;
	height: 271px;
	margin: auto;
	background: url(../images/gift-experiance.jpg) no-repeat;
	margin-bottom: 75px;
	position: relative;
}
.gift-experiance-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.gift-experiance-content h3{
	font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
}
.gift-experiance-content a{
    font-size: 18px;
    text-transform: uppercase;
    color: #333;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
	    font-weight: 500;
}

.testimonials ul{
	display: flex;
    flex-wrap: nowrap;
}
.testimonials li{
    flex-basis: 33.33%;
    flex-grow: 0;
	text-align: center;
}
.testimonials li > span{display: block; margin-bottom: 10px;}
.testimonials li > span.testi-image{
	display: inline-block;
    height: 97px;
    width: 97px;
    border-radius: 50%;
    overflow: hidden;
}
.testi-name{font-size: 18px; font-weight: 500;}
.testi-txt{
	    font-size: 14px;
    width: 60%;
    margin: auto;
    line-height: 22px;
}

footer{margin-top: 60px;}
.footer-listing{
	background: #e1e1e1;
}
.footer-wrap{
	max-width: 80%;
    width: 80%;
    margin: auto;
    position: relative;
}
.footer-listing .footer-wrap{
    display: flex;
    flex-wrap: nowrap;
	justify-content: space-between;
}
.footer-listing-links{padding: 30px; font-size:14px;}
.footer-listing-links h4{font-size:18px; text-transform:uppercase; margin-bottom: 20px;}
.footer-listing-links li{margin-bottom: 10px;}
.footer-listing-links a{color:#333; text-decoration:none;}
.main-footer-links{background: #333333; padding: 20px 0;}
.main-footer-links .footer-wrap{
    display: flex;
    flex-wrap: nowrap;
}
.main-footer-links .footer-wrap .footer-links{
    display: flex;
    flex-wrap: nowrap;
	color: #fff;
	width: 60%;
	font-size: 14px;
	font-weight: 500;
	margin-top: 35px;
}
.main-footer-links .footer-wrap .footer-links ul{flex-basis: 33%; flex-grow: 0;}
.main-footer-links .footer-wrap .footer-links li{margin-bottom: 15px;}
.main-footer-links .footer-wrap .footer-links a{color: #fff; text-decoration: none;}
.footer-logo{margin-right: 40px;}
.footer-logo img{opacity: .2;}
.fotter-social{margin-top: 35px;}
.fotter-social h5{color: #fff; font-size: 14px; font-weight: 500; margin-bottom: 10px;}
.fotter-social li{display: inline-block; margin-right: 5px;}
.fotter-social li a {
    position: relative;
    width: 50px;
    height: 28.87px;
    background-color: #6a6a6a;
    margin: 14.43px 0;
    display: inline-block;
    color: #333333;
    font-size: 30px;
    text-align: center;
	line-height: 34px;
}

.fotter-social li a:before,
.fotter-social li a:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  left: 0;
}

.fotter-social li a:before {
  bottom: 100%;
  border-bottom: 14.43px solid #6a6a6a;
}

.fotter-social li a:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid #6a6a6a;
}
.copyright{background:#1f1f1f; color:#fff; text-align:center; padding: 10px;}

.inside-sec h2{font-weight: 300;}
.main-form input[type="checkbox"]~label, .main-form input[type="radio"]~label{font-size: 14px; font-weight: 500; margin-left: 5px; display: inline-block;}
.sign-up-form{text-align: center;}
.sign-up-form li{display: inline-block; padding: 0 25px;}
.sign-up-form li label{display: inline-block;}
.form-act{text-align: center; margin-top: 50px;}
.form-act input[type="button"], input[type="button"].add-btn, input[type="button"].primery-btn{
	padding: 18px 40px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #b2384f;
    border: none;
    border-radius: 2px;
    vertical-align: top;
    display: inline-block;
}
input[type="button"].add-btn{background: #999999;}
input[type="button"].paypal-btn{background: #ffcc00;}
.form-act input[type="button"]:nth-of-type(2){margin-left: 20px;}
.form-act .or-sep{
	font-size: 24px;
    font-weight: 500;
    display: inline-block;
    margin-left: 20px;
    margin-top: 18px;
}
.sign-up-width{
	width: 50%;
	margin: auto;
}
.main-form li{margin-bottom: 15px;}
.main-form label{
	font-size: 18px;
	font-weight: 500;
	display: block;
	margin-bottom: 8px;
}
.main-form input[type="text"], .main-form select, .main-form input[type="number"], .main-form input[type="password"], .main-form textarea, .main-form .input-file{
	width: 100%;
	padding: 18px;
	font-size: 18px;
	font-weight: 300;
	border: 1px solid #a6a6a6;
	border-radius: 2px;
	box-sizing: border-box;
}
.main-form .input-file{
	position: relative;
	display: inline-block;
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	overflow: hidden;
	cursor: pointer;
}
.main-form .input-file input[type="file"]{
	opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	width: 100%;
	cursor: pointer;
}
.main-form .mobile-no input[type="number"]{width:75%;}
.main-form .mobile-no input[type="number"]:first-of-type{width:25%;}
.sign-up-opt a{
	width:48%; 
	display:inline-block; 
	padding:15px; 
	border-radius:2px;
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
    box-sizing: border-box;
	float: left;
}
.sign-up-opt a.facebook-signup{background:#333399;}
.sign-up-opt a.gmail-signup{background:#dd4b39; float: right;}
.sign-up-or{
	font-size: 24px;
    margin: 24px 0 20px;
    text-align: center;
}

.signup-thanks{text-align:center; font-size: 18px;}
.signup-thanks h4{font-size:30px; font-weight:500; margin-bottom:20px;}

.create-experience{width: 80%; margin: auto;}
.exp-country select{width: 50%;}
.create-experience li div{    
	width: 40%;
    float: left;
    padding-right: 20px;
    box-sizing: border-box;
}
.create-experience li div:first-of-type{width: 60%;}
.create-experience li div:last-of-type{padding-right: 0;}
.create-experience li div.put-price select{width: 15%;}
.create-experience li div.put-price input[type="text"]{width: 84%;}

.create-experience li div.for-people{width: 15%;}
.create-experience li div.for-people label{margin-bottom: 20px;}
.create-experience li div.category label{margin-bottom: 20px;}
.create-experience li div.duration{width: 45%;}
.create-experience li.availability div{width:100%;}
.create-experience li.availability div.availability-year,
.create-experience li.availability div.availability-month,
.create-experience li.availability div.availability-day
{width:20%;}
.create-experience li.availability div.availability-slot{width: 40%;}
.create-experience li.custom-experiences div{width: 100%;}
.create-experience li.custom-experiences div label{display: inline-block; margin-right: 20px;}

.add-more{
	width: 200px;
	height: 200px;
	display: block;
	border: 1px solid #333;
	text-align: center;
}
.add-more .fa-plus{
	color: #b2384f;
	font-size: 90px;
	margin-top: 45px;
	margin-bottom: 40px;
}
.add-more .add-txt{display: block; font-size: 14px; font-weight: 500;}
.upload-preview{
	background: #ccc;
	height: 90px;
	width: 90px;
	position: relative;
    display: inline-block !important;
	margin: 10px 10px 0 0;
}
.upload-preview i{
	position: absolute;
    right: 2px;
    top: 2px;
    color: #666666;
    font-size: 16px;
}
.add-cat{
	text-align: center;
    line-height: 90px;
    font-size: 14px;
    font-weight: 700;
}

.exp-detail{
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 3px solid #ccc;
}
.exp-detail .exp-lhs{
	width: 45%;
    float: left;
    padding-right: 2%;
    box-sizing: border-box;
}
.exp-detail .exp-lhs .exp-main-image{width: 100%; margin-bottom: 25px;}
.the-exp h4{font-size: 16px; font-weight: 500; margin-bottom: 20px;}
.exp-detail .exp-rhs{width:55%; float:left;}
.exp-rhs h1{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 10px;
}
.exp-rhs .exp-loc{    
	padding-bottom: 10px;
    border-bottom: 1px solid #b8b8b8;
	margin-bottom: 15px;
}
.main-form.exp-dtl-form li{margin-bottom: 24px;}
.exp-rhs .exp-duration{font-size: 16px; font-weight: 500;}
.exp-cost{font-size: 24px; font-weight: 700;}
.total-cost{float: right;}
.per-person-cost span{font-size: 14px; font-weight: 400;}
.total-cost span{font-weight: 400;}
.social-share strong{font-size: 14px; font-weight: 500;}
.social-share .social-icon{
	width: 32px;
	height: 32px;
	background: #6e7678;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 16px;
	margin-left: 8px;
}
.exp-detail p{font-size:14px; line-height:24px; margin-bottom: 15px;}

.buyers-profile h3{font-size:18px; font-weight:400; margin-bottom:10px;}
.profile-lhs{    
	width: 26%;
    float: left;
    padding-right: 2%;
    box-sizing: border-box;
}
.profile-lhs .main-prof-img{margin-bottom: 20px;}
.profile-lhs .main-prof-img img{width: 100%;}
h4.prof-name{font-size: 16px; font-weight: 500; margin-bottom: 5px;}
.prof-loc{font-size: 14px; margin-right: 5px;}
.profile-lhs .prof-loc{margin-bottom:8px;}
.profile-lhs .prof-intro{
    font-size: 14px;
    padding: 10px 0;
    margin: 10px 0 15px;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}
.profile-lhs .prof-categories{font-size: 14px; margin-bottom: 15px;}
.profile-lhs .prof-categories h5{margin-bottom: 10px;}
.profile-lhs .prof-categories li{margin-bottom: 10px;}
.profile-rhs{width:74%; float:left;}
.profile-rhs h4{
	font-size:16px; 
	font-weight:500;     
	border-bottom: 1px solid #b8b8b8;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.profile-rhs p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}
.buy-exp h2{font-size: 24px; font-weight: 700; margin-bottom: 20px;}
.buy-exp .package-bx{ margin-left: 0;}
.payment-detail{
	border-top: 1px solid #ccc;
    padding-top: 25px;
    padding-bottom: 10px;
}
.payment-detail .main-form{    
	width: 90%;
    float: left;
    text-align: right;
}
.payment-detail .main-form label{
	    display: inline-block;
    font-size: 14px;
    vertical-align: bottom;
    margin-right: 10px;
}
.payment-detail .main-form input[type="text"]{display: inline-block; width: auto; width: 175px;}
.payment-detail .main-form .net-payble input[type="text"]{width: 320px;}

.message-exchange h2{font-size: 24px; font-weight: 700; padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid #ccc;}
.message-exchange .main-form{width: 60%;}

.give-gift{width: 90%; margin: auto;}
.give-gift-lhs{width: 80%; float: left; padding-right:2%; box-sizing: border-box;}
.give-gift-lhs h4{font-size: 24px; font-weight: 700; margin-bottom: 10px; margin-top: 30px;}
.expiry-date select{width: 115px; display: inline-block; margin-right: 10px;}
.cvvcvd input[type="text"]{width: 115px;}
.give-gift-rhs{width: 20%; float: left;}
.give-gift-rhs h4{font-size:18px; font-weight:500; margin-bottom:15px;}
.give-gift-rhs p{
	font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}

.add-family{    
	width: 80%;
    margin: 20px auto 10px;
    font-size: 24px;
}
.edit-profile-steps{width: 80%; margin: 20px auto 50px;}
.edit-profile-steps ul{display: flex;}
.edit-profile-steps li{ 
	flex: 1;
	background: #ccc;
	padding: 2px 0 2px 10px;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}
.edit-profile-steps li.step.step-active{background: #66cc99;}
.edit-profile-steps li .edit-step{
	height: 58px;
	width: 58px;
	border-radius: 50%;
	line-height: 58px;
	text-align: center;
	background: #fff;
	display: inline-block;
	font-size: 40px;
	font-weight: 500;
	margin-right: 25px;
	color: #333;
	vertical-align: middle;
}

.add-paypal label{text-transform:uppercase;}
.add-paypal input[type="text"]{width:60%;}

.pay-now h2{font-size: 24px;}
.pay-now .package-details{
	width: 100%;
    float: none;
    margin-bottom: 35px;
    padding: 30px 0 20px;
    border-bottom: 1px solid #ccc;
}
.pay-now .main-form{
	width: 60%;
}
.pay-now .package-price{right: 0;}

.buyer-top-image{margin-bottom: 50px; margin-top: -50px;}
.buyer-top-image img{width:100%;}

.seller-profile .package-star{margin-top:10px;}