<div class="top-header">
  <div class="header-content">
    <h1>Search for your next Life changing experiences<br>
      and start buidling your bucket</h1>
    <div class="header-search">
      <input type="text" id="txtsearch" name="txtsearch" placeholder="Search Experience"><input type="button" value="Search" (click)="Search()">
    </div>
  </div>
</div>
<div *ngIf="!isViewALL" class="wrap">
  <div class="package-list">

    <h2><span>Recommended for you</span></h2>

    <div *ngFor="let RCexpList of RCexperienceList" class="package-bx clearfix">
      <div class="package-image"><a routerLink="/experience/detail/{{RCexpList.id}}"><img src="{{RCexpList.image}}"
            width="332" height="233" alt="Bespoke Yoga Training" /></a></div>
      <div class="package-details">
        <h3><a routerLink="/experience/detail/{{RCexpList.id}}">{{RCexpList.title}}</a></h3>
        <div class="package-loc"><i class="fas fa-map-marker-alt"></i> {{RCexpList.country}}</div>
        <div class="package-star"><i class="fas fa-star selected"></i><i class="fas fa-star selected"></i><i class="fas fa-star selected"></i><i
            class="fas fa-star selected"></i><i class="fas fa-star"></i> 4/5 Very Good <a href="#" class="package-review">1025
            Reviews</a></div>
        <div class="package-auth"><span class="auth-img"><img src="assets/images/auth-image.png" width="36" height="36"
              alt="" /></span>By
          <a href="#" class="auth-name">{{RCexpList.username}}</a>
          <span class="auth-verified">Video Verified</span></div>
        <div class="package-last-booked">Last Booked - 6 hours ago</div>
        <div class="package-btm clearfix">
          <span class="deal-applied">Deal Applied</span>
          <a routerLink="/experience/detail/{{RCexpList.id}}" class="package-dtl">View Details</a>
          <span class="people-viewing">10 People Viewing</span>
        </div>
        <div class="package-price">
          <span class="amt-saved">You Save $ {{RCexpList.sprice}}.00</span>
          <span class="original-price">$ {{RCexpList.price}}.00</span>
          <span class="actual-price">$ {{RCexpList.price - RCexpList.sprice}}.00</span>
        </div>
        <i class="fas fa-heart wishlist"></i>
      </div>
    </div>
    <div class="pckg-view-all">
      <a style="cursor: pointer;" (click)="ShowAll()">View All</a>
    </div>
  </div>

  <div class="package-list">

    <h2><span>MOST POPULAR</span></h2>

    <div *ngFor="let MPexpList of MPexperienceList" class="package-bx clearfix">
      <div class="package-image"><a routerLink="/experience/detail/{{MPexpList.id}}"><img src="{{MPexpList.image}}"
            width="332" height="233" alt="Bespoke Yoga Training" /></a></div>
      <div class="package-details">
        <h3><a routerLink="/experience/detail/{{MPexpList.id}}">{{MPexpList.title}}</a></h3>
        <div class="package-loc"><i class="fas fa-map-marker-alt"></i> {{MPexpList.country}}</div>
        <div class="package-star"><i class="fas fa-star selected"></i><i class="fas fa-star selected"></i><i class="fas fa-star selected"></i><i
            class="fas fa-star selected"></i><i class="fas fa-star"></i> 4/5 Very Good <a href="#" class="package-review">1025
            Reviews</a></div>
        <div class="package-auth"><span class="auth-img"><img src="assets/images/auth-image.png" width="36" height="36"
              alt="" /></span>By
          <a href="#" class="auth-name">{{MPexpList.username}}</a>
          <span class="auth-verified">Video Verified</span></div>
        <div class="package-last-booked">Last Booked - 6 hours ago</div>
        <div class="package-btm clearfix">
          <span class="deal-applied">Deal Applied</span>
          <a routerLink="/experience/detail/{{MPexpList.id}}" class="package-dtl">View Details</a>
          <span class="people-viewing">10 People Viewing</span>
        </div>
        <div class="package-price">
          <span class="amt-saved">You Save $ {{MPexpList.sprice}}.00</span>
          <span class="original-price">$ {{MPexpList.price}}.00</span>
          <span class="actual-price">$ {{MPexpList.price - MPexpList.sprice}}.00</span>
        </div>
        <i class="fas fa-heart wishlist"></i>
      </div>
    </div>
    <div class="pckg-view-all">
      <a style="cursor: pointer;" (click)="ShowAll()">View All</a>
    </div>
  </div>
  <div class="package-list">

    <h2><span>NEWEST EXPERIANCE </span></h2>

    <div *ngFor="let NEexpList of NEexperienceList" class="package-bx clearfix">
      <div class="package-image"><a routerLink="/experience/detail/{{NEexpList.id}}"><img src="{{NEexpList.image}}"
            width="332" height="233" alt="Bespoke Yoga Training" /></a></div>
      <div class="package-details">
        <h3><a routerLink="/experience/detail/{{NEexpList.id}}">{{NEexpList.title}}</a></h3>
        <div class="package-loc"><i class="fas fa-map-marker-alt"></i> {{NEexpList.country}}</div>
        <div class="package-star"><i class="fas fa-star selected"></i><i class="fas fa-star selected"></i><i class="fas fa-star selected"></i><i
            class="fas fa-star selected"></i><i class="fas fa-star"></i> 4/5 Very Good <a href="#" class="package-review">1025
            Reviews</a></div>
        <div class="package-auth"><span class="auth-img"><img src="assets/images/auth-image.png" width="36" height="36"
              alt="" /></span>By
          <a href="#" class="auth-name">{{NEexpList.username}}</a>
          <span class="auth-verified">Video Verified</span></div>
        <div class="package-last-booked">Last Booked - 6 hours ago</div>
        <div class="package-btm clearfix">
          <span class="deal-applied">Deal Applied</span>
          <a routerLink="/experience/detail/{{NEexpList.id}}" class="package-dtl">View Details</a>
          <span class="people-viewing">10 People Viewing</span>
        </div>
        <div class="package-price">
          <span class="amt-saved">You Save $ {{NEexpList.price - NEexpList.sprice}}.00</span>
          <span class="original-price">$ {{NEexpList.price}}.00</span>
          <span class="actual-price">$ {{NEexpList.sprice}}.00</span>
        </div>
        <i class="fas fa-heart wishlist"></i>
      </div>
    </div>
    <div class="pckg-view-all">
      <a style="cursor: pointer;" (click)="ShowAll()">View All</a>
    </div>
  </div>

</div>
<div *ngIf="isViewALL" class="wrap">
  <div class="package-list">

    <div *ngFor="let expList of experienceList" class="package-bx clearfix">
      <div class="package-image"><a routerLink="/experience/detail/{{expList.id}}"><img src="{{expList.image}}" width="332"
            height="233" alt="Bespoke Yoga Training" /></a></div>
      <div class="package-details">
        <h3><a routerLink="/experience/detail/{{expList.id}}">{{expList.title}}</a></h3>
        <div class="package-loc"><i class="fas fa-map-marker-alt"></i> {{expList.country}}</div>
        <div class="package-star"><i class="fas fa-star selected"></i><i class="fas fa-star selected"></i><i class="fas fa-star selected"></i><i
            class="fas fa-star selected"></i><i class="fas fa-star"></i> 4/5 Very Good <a href="#" class="package-review">1025
            Reviews</a></div>
        <div class="package-auth"><span class="auth-img"><img src="assets/images/auth-image.png" width="36" height="36"
              alt="" /></span>By
          <a href="#" class="auth-name">{{expList.username}}</a>
          <span class="auth-verified">Video Verified</span></div>
        <div class="package-last-booked">Last Booked - 6 hours ago</div>
        <div class="package-btm clearfix">
          <span class="deal-applied">Deal Applied</span>
          <a routerLink="/experience/detail/{{expList.id}}" class="package-dtl">View Details</a>
          <span class="people-viewing">10 People Viewing</span>
        </div>
        <div class="package-price">
          <span class="amt-saved">You Save $ {{expList.sprice}}.00</span>
          <span class="original-price">$ {{expList.price}}.00</span>
          <span class="actual-price">$ {{expList.price - expList.sprice}}.00</span>
        </div>
        <i class="fas fa-heart wishlist"></i>
      </div>
    </div>
  </div>

</div>